html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: $font-size;

  background-color: hsl(230, 100%, 99%);
  background-image: url("../images/bg-pattern.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 32em;
}

h1 {
  margin: 0;
  color: $dark-blue;
  text-align: center;
  padding-bottom: $spacing - 0.9;
}

p {
  color: $blue;
  margin: 0;
  line-height: 1.8;
  font-size: $font-size;
}
