.box {
  background-color: $white;
  border-radius: 1em;
  margin: 0 $spacing * 1.5;
  box-shadow: 0 8px 8px 8px $shadow;
  padding: $spacing * 1.5 $spacing * 1;

  .box__top {
    margin: 0;
    border-radius: 1em 1em 0 0;

    .text__uppercase {
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: 0.1em;
      text-align: center;
      padding-bottom: $spacing;
    }

    .range {
      width: 100%;

      .range__slider {
        appearance: none;
        width: 100%;
        height: 0.5em;
        border-radius: 1em;
        outline: none;
        background-color: $grayish-blue;

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          @include thumb;
        }

        &::-moz-range-thumb {
          @include thumb;
        }
      }
    }

    .price {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: $spacing;
      padding: $spacing 0;

      .price__text {
        color: $dark-blue;
        font-weight: 800;
        font-size: $font-size * 2.5;
      }
    }

    .billing {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: $spacing;
      padding: $spacing 0;

      .billing__toggle {
        @include btn-toggle;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 0.28em;
          left: 0.2em;
          background-color: $white;
          border-radius: 50%;
          width: 1em;
          height: 1em;
        }

        &.active {
          &::after {
            left: auto;
            right: 0.2em;
          }
        }
      }

      .billing__pill {
        display: flex;
        align-items: center;

        .billing__round {
          @include billing-round;
        }

        .billing__round--desktop {
          display: none;
        }

        
      }
    }
  }

  .box__bottom {
    margin: 0;
    border-top: 1px solid $line;
    border-radius: 0 0 1em 1em;
    padding: $spacing;

    display: flex;
    flex-direction: column;
    align-items: center;

    .box__icon {
      display: flex;
      align-items: center;
      gap: $spacing;
      padding-bottom: $spacing - 0.8;

      & > svg {
        width: 0.8em;
        height: 0.8em;
      }
    }

    .cta {
      @include cta;
      margin-top: $spacing * 1.5;
    }
  }
}
