@media screen and (min-width: 650px) {
  .wrapper {
    width: 100%;

      .content__text {
        display: flex;
        flex-direction: row;
      }

    .box {
      max-width: 40em;
      margin: 0 auto;

      .box__top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 7.5em auto;

        .price {
          grid-column: 2 / 3;
          grid-row: 1 / 2;
          padding: $spacing * 3 0;
        }

        .text__uppercase {
          place-self: center;
          padding-bottom: 0;
        }

        .billing,
        .range {
          grid-column: 1 / 3;

          .billing__pill {
            .billing__round--desktop {
              display: block;
            }

            .billing__round {
              display: none;
            }
          }
        }
      }

      .box__bottom {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $spacing;

        .cta {
          place-self: center;
        }
      }
    }
  }
}
